body {
    font-family: "Poppins", sans-serif;
    margin: 0;
} 

 h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

 a {
    text-decoration: none;
}


button{
    cursor: pointer;
    display: block;
    font-family: inherit;
} 

img{
   display: block;
}

*,*::before,*::after{
   box-sizing: border-box;
}

.container{
   padding: 0 20px;
   width: 1150px;
   margin: 0 auto;

}

/* header */

.header .container {
   display: flex;
}

.navigation {display: flex;}

.header-logo {
   display: flex;
   gap: 16px;
   padding-top: 22px;
   padding-bottom: 22px;
   margin-right: 237px;
   font-weight: 700;
   font-size: 30px;
   line-height: 0.93;
    color: #173a56;
}

.header-nav-list {
   display: flex;
   gap: 30px;
}

.header-nav-list-item-home {
   
}

.header-nav-link-home {
   display: block;
   padding-top: 26px;
   padding-bottom: 26px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

.header-nav-list-item {}

.header-nav-link {
   display: block;
   padding-top: 26px;
   padding-bottom: 26px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

.list-btn {
   display: flex;
   gap: 21px;
   margin-left: auto;
}

.list-item-btn {
   display: block;
   padding-top: 19px;
   padding-bottom: 19px;}

.header-list-button{
   display: block;
   padding: 9px 24px;
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   color: #173a56;
   background-color: #fff;
}

.second{
   color: #fff;
   background-color: #02897a;
}

/* hero index */

.hero {
   padding-top: 25px;
   padding-bottom: 100px;
}

.hero-div{
   display: block;
   padding-top: 112px;
   padding-bottom: 112px;
}

.hero-container{
   display: flex;
   gap: 35px;
}
   
.hero-title {
   font-weight: 700;
   font-size: 40px;
   line-height: 1.5;
   color: #22343d;
   margin-bottom: 18px;
}
   
.hero-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.55;
   color: #22343d;
   margin-bottom: 45px;
}
   
.hero-list {
   display: flex;
   gap: 56px;
   position: relative;

}
   
.hero-list-btn {
   display: flex;
}

.hero-btn {
   border: none;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
   background-color: #02897a;
   padding: 15px 42px 15px 41px;
}

.hero-list-icon {
   position: absolute;
   top: 30%;
   left: 208px;

   
}

.hero-icon {
   border-radius: 2px;
   fill: #02897a;
}

.hero-btn-watch {
   border: none;
   font-weight: 600;
   font-size: 16px;
   text-decoration: underline;
   color: #02897a;
   background-color: #fff;

}

/* feature index */

.feature {
   padding-bottom: 100px;
}
      
.feature-title {
   width: 539px;
   font-weight: 700;
   font-size: 32px;
   text-align: center;
   color: #22343d;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
}

.icons-feature-list {
   display: flex;
   gap: 231px;
   margin-bottom: 18px;
}

.icon-feature-item {
   width: calc((100% - 30px * 3) / 4);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 19px;
   width: 54px;
   height: 54px;
}

.green-icon {
   background-color: #02897a;
}

.blue-icon {
   background-color: #4d8dff;
}

.violet-icon {
   background-color: #740a76;
}

.red-icon{
   background-color: #f03e3d;
}

.icon-feature {
   fill: #fff;
}
      
.feature-list {
   display: flex;
   gap: 30px;
   margin-bottom: 50px;
}
      
.feature-list-item {
   width: calc((100% - 90px) / 4);

}
      
.item-title {
   font-weight: 600;
   font-size: 22px;
   color: #22343d;
   margin-bottom: 13px;
}
      
.feature-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}
      
.feature-btn {
   border: none;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
   background-color: #02897a;
   padding: 15px 32px 14px 34px;
   display: block;
   margin: 0 auto;
}

/* Business management index */

.management {
   padding-bottom: 100px;
}

.management-container{display: flex;
gap: 84px;}

.management-cont{display: block;
padding-top: 41px;
padding-bottom: 41px;}

.management-title {
   font-weight: 600;
   font-size: 16px;
   color: #22343d;
   width: 224px;
   margin-bottom: 25px;
}

.busines-title{
   font-weight: 700;
   font-size: 32px;
   color: #22343d;
}

.management-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 30px;
}

.management-list {
   
}

.management-list-item {
   margin-bottom: 25px;
}

.management-item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}

.management-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}

/* Support index */

.support {
   padding-bottom: 100px;
}

.support-container {
   display: flex;
   gap: 84px;
}

.image-support {}

.support-cont {
   display: block;
   padding-top: 41px;
   padding-bottom: 40px;
}

.support-title {
   font-weight: 600;
   font-size: 16px;
   color: #22343d;
   width: 303px;
   margin-bottom: 25px;
}

.support-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 30px;
}

.support-icon {
   display: flex;
   gap: 30px;
}

.support-list-icon {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.support-item-icon {
   width: 35px;
   height: 35px;
   border: 2.92px solid #fff;
   border-radius: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.support-icon {   
   fill: #fff;
}

.tick-orange {
   background-color: #f90;
}

.tick-red {
   background-color: #f03e3d;
}

.tick-blue {
   background-color: #4d8dff;
}

.support-list {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.support-list-item {}

.support-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}

/* Collaboration index */

.collaboration {
   padding-bottom: 150px;
}

.collaboration-container {
   display: flex;
   gap: 84px;
}

.collaboration-cont {
   display: block;
   padding-top: 41px;
   padding-bottom: 41px;
}

.collaboration-title {
   font-weight: 600;
   font-size: 16px;
   color: #22343d;
   width: 226px;
   margin-bottom: 25px;
}

.collaboration-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 30px;
}

.collaboration-list {}

.collaboration-list-item {
   margin-bottom: 25px;
}

.collaboration-item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.625;
   color: #22343d;
}

.collaboration-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.625;
   color: #22343d;
}

.image-collaboration {}

/* Staff index */

.staff {
   padding-bottom: 100px;
}

.staff-title {
   font-weight: 700;
   font-size: 32px;
   text-align: center;
   color: #22343d;
   margin-bottom: 25px;
}

.staff-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   color: #22343d;
   width: 542px;
   margin: 0 auto;
   margin-bottom: 40px;
}

.staff-list {
   display: flex;
   margin-bottom: 50px;
   flex-direction: row;
   flex-wrap: wrap;
}

.staff-list-item {
   width: calc((100% - 100px) / 2);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   
}

.staff-list-item:nth-child(2), .staff-list-item:nth-child(3) {
   flex-direction: row-reverse;
}

.staff-item-text {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   color: #2f281e;
   padding-top: 14px;
   padding-bottom: 12px;
}

.staff-btn {
   border: none;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
   background-color: #02897a;
   display: block;
   margin: 0 auto;
   padding: 15px 31px 14px 30px;
}

/* News feed index */

.new-feed {
   padding-bottom: 171px;
}

.new-feed-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   margin-bottom: 10px;
}

.new-feed-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 40px;
}

.new-feed-item {
   display: flex;
   gap: 30px;
}

.new-feed-list-item {
   border: 1px solid #dedede;
   border-radius: 8px;
   
}

.new-feed-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
   padding-top: 24px;
   padding-left: 24px;
   margin-bottom: 12px;
}

.ari {
   font-weight: 700;
   padding-left: 0;
}

.new-feed-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.66667;
   color: #22343d;
   padding-left: 27px;
   padding-right: 27px;
   padding-bottom: 40px;
}

.green{
   color: #02897a;
}

/* Pricing index */

.pricing {
   
}

.pricing-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   text-align: center;
   margin-bottom: 10px;
   
}

.pricing-text {
   font-weight: 500;
   font-size: 16px;
   color: #22343d;
   text-align: center;
   margin-bottom: 40px;
}

.pricing-container {
   display: flex;
   gap: 72px;
}

.pricing-list {
}

.pricing-price{
   border-radius: 8px;
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
   background-color: #fff;
   padding-top: 32px;
   padding-bottom: 32px;
   width: calc((100% - 144px) / 3);
}

.pricing-list-item {}

.pricing-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.66;
   color: #22343d;
   text-align: center;
   margin-bottom: 8px;
}

.pricing-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 2.5;
   color: #22343d;
   text-align: center;
   margin-bottom: 16px;
}

.number {
   display: flex;
   justify-content: center;
   align-items: center;
}

.pricing-item-number {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 76px;
   line-height: 1.31;
   letter-spacing: 0em;
   margin-right: 7px;
}

.pricing-item-dollar {
   font-family: "Inter", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.25;
   letter-spacing: 0em;
   margin-bottom: 4px;
}

.pricing-price-text {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.01em;
   color: #afafaf;
}

.pricing-price-item { 
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.pricing-price-list {}

.pricing-price-title {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.01em;
   color: #22343d;
   text-align: center;
   
}

.pricing-btn-price {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
   background-color: #02897a;
   padding: 11px 19px 11px 18px;
   display: block;
   margin: 0 auto;
   margin-top: 30px;
}

.pricing-green{
   border-radius: 8px;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
   background-color: #02897a;
   /* width: 322px; */
}

.pricing-standard-btn {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #02897a;
   background-color: #fff;
   padding: 11px 19px 11px 18px;
   display: block;
   margin: 0 auto;
   margin-top: 30px;
}

.green {
   color: #02897a;
}

.white {
   color: #fff;
}

/* Feedback index */

.feedback {
   padding-top: 98px;
   padding-bottom: 100px;
}

.feedback-title {
   font-weight: 700;
   font-size: 32px;
   line-height: 1.78;
   letter-spacing: 0.01em;
   color: #22343d;
   text-align: center;
   margin-bottom: 10px;
}

.feedback-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.75;
   letter-spacing: 0.01em;
   text-align: center;
   color: #22343d;
   width: 537px;
   margin: 0 auto;
   margin-bottom: 40px;
}

.feedback-container {
   position: relative;
   top: 0;
   left: 0;
}

.feedback-list {
   display: flex;
   gap: 64px;
}

.feedback-list-item {
   width: calc((100% - 64px * 2) / 3);
   border: 1px solid #dedede;
   border-radius: 5px;
   padding: 62px 26px 28px;
}

.feedback-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   letter-spacing: 0.01em;
   color: #737373;
   margin-bottom: 16px;
}

.feedback-item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.01em;
   color: #02897a;
}

.feedback-item-cont {
   display: flex;
}

.feedback-item-container {
   margin-left: 14px;
}

.feedback-list-item-text {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.71429;
   letter-spacing: 0.01em;
   color: #252b42;
}

.feedback-list-icon {
   display: flex;
   position: absolute;
   top: 28px;
   
}

.feedback-item-icon {}

.feedback-icon {
   fill: #f3cd03;
}

/* Promo index */

.promo {
   padding-bottom: 100px;
}

.promo-down {
   padding-top: 150px;
   padding-bottom: 150px;
}

.promo-green{
   border: none;
   border-radius: 32px;
   background: #02897a;
   width: 968px;
   margin: 0 auto;
   display: flex;
}

.promo-title {
   font-weight: 600;
   font-size: 32px;
   line-height: 1.514;
   color: #fff;
   width: 510px;
   padding-top: 49px;
   padding-right: 51px;
   padding-bottom: 46px;
}

.promo-btn {
   border: none;
   border-radius: 8px;
   font-weight: 600;
   font-size: 20px;
   color: #02897a;
   background-color: #fff;
   padding: 10px 34px;
}

.promo-down {
   
}

/* footer */

.footer {}

.footer-container {display: flex;
}

.footer-container-list {
   display: flex;
   margin-bottom: 10px;
}

.footer-logo {
   font-weight: 700;
   font-size: 30px;
   line-height: 0.93;
   color: #173a56;
   display: flex;
   gap: 4px;
   margin-right: 146px;
   margin-bottom: 18px;
}

.footer-list-icon {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 16px;
}

.footer-item-icon {
   width: 40px;
   height: 40px;
}

.footer-link-icon {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #edfffc;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
}

.footer-icon {
   stroke-width: 2px;
   stroke: #02897a;
   fill: #edfffc;
}


.footer-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   color: #22343d;
   margin-bottom: 8px;
}

.feature-list-cont {
   display: flex;
   gap: 129px;
   margin-right: 83px;
}

.footer-list {
   display: flex;
   flex-direction: column;
}

.footer-list-item {}

.footer-item-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 2.1875;
   color: #22343d;
}

.footer-text-cont {
   display: block;
   
}

.form-footer {}

.form-footer-text {
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   color: #22343d;
   width: 280px;
   margin-bottom: 30px;
}

.form-input-cont {
   position: relative;
}

.form-input {
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   width: 325px;
   height: 48px;
   padding-left: 42px;
   margin-bottom: 25px;
}

.form-input::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #02897a;
}

.form-icon {
   position: absolute;
   top: 10px;
   left: 13px;
   fill: #02897a;
}

.form-btn {
   font-weight: 700;
   font-size: 16px;
   text-align: center;
   color: #fff;
   padding: 8px 15px 7px;
   border-radius: 4px;
   border: none;
   background: #02897a;
}

.footer-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.875;
   color: #22343d;
   text-align: center;
}

/* Hero Customers */

.hero-clients {
   padding-top: 100px;
   padding-bottom: 117px;
}

.hero-clients-title {
   font-weight: 700;
   font-size: 40px;
   color: #22343d;
   text-align: center;
   margin-bottom: 50px;
}

.hero-clients-list {
   display: flex;
   gap: 64px;
   justify-content: center;
}

.hero-clients-list-item {}

/* Choose Customers */

.choose {}

.choose-bg{
   padding-top: 24px;
   padding-bottom: 68px;
   background-color: #f5f5f5;
}

.choose-title {
   font-weight: 700;
   font-size: 34px;
   text-align: center;
   color: #22343d;
   margin-bottom: 50px;
}

.choose-container-icons {}

.choose-list {
   display: flex;
   gap: 30px;
}

.choose-list-item {
   padding-top: 114px;
   padding-bottom: 34px;
   border: 1px solid #dedede;
   border-radius: 10px;
   width: calc((100% - 30px * 2) / 3);
   position: relative;
}

.choose-icons {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 19px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   position: absolute;
   top: 32px;
   left: 150px;

}

.icon-green {
   background-color: #02897a;
}

.icon-blue {
   background-color: #4d8dff;
}

.icon-red {
   background-color: #f03e3d;
}

.choose-icon {
   fill: #fff;
}

.choose-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.37;
   letter-spacing: 0em;
   text-align: center;
   color: #22343d;
   margin-bottom: 16px;
}

.choose-item-text {
   padding-right: 37px;
   padding-left: 38px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.69;
   letter-spacing: 0.01em;
   text-align: center;
   color: #22343d;
}


/* How Product Work? Customers */

.work {}

.work .container {
   padding-top: 101px;
   padding-bottom: 115px;
}

.work-title {
   font-weight: 700;
   font-size: 34px;
   text-align: center;
   color: #22343d;
   margin-bottom: 73px;
}

.work-list {
   display: flex;
   flex-direction: column;
   gap: 100px;
}

.work-list-item {
   display: flex;
}

.step-one-item {
   padding-right: 41px;
   padding-left: 42px;
}

.step-two-item {
   padding-right: 44px;
   padding-left: 45px;
}

.step-three-item {
   padding-left: 42px;
   padding-right: 42px;
}

.step-one {
   margin-left: 89px;
}

.step-two {
   margin-right: 76px;
}

.step-three {
   margin-left: 88px;
}

.work-item-title-one {
   font-weight: 500;
   font-size: 20px;
   text-align: start;
   color: #22343d;
   margin-bottom: 16px;
}

.work-item-title-two {
   font-weight: 600;
   font-size: 24px;
   text-align: start;
   color: #22343d;
   margin-bottom: 16px;
}

.work-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
   text-align: start;
}

.work-btn {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
   background-color: #02897a;
   padding: 11px 18px;
   display: block;
   margin: 0 auto;
   margin-top: 89px;
}

/* Offers Customers */

.offers { 
   padding-top: 35px;
   padding-bottom: 45px;
   background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);}

.offers-title {
   font-weight: 700;
   font-size: 32px;
   text-align: center;
   color: #22343d;
   width: 537px;
   margin: 0 auto;
   margin-bottom: 83px;
}

.image-offers {
   display: flex;
   justify-content:center;
   gap: 325px;
}

.offers-list-one {
   display: flex;
   justify-content: center;
   gap: 227px;
}

.offers-list-item-one {}

.offer-item-title {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.17;
   color: #000;
   text-align: center;
   margin-top: 27px;
   margin-bottom: 16px;
}

.offers-list-two {}

.offers-list-item-two {}

.offer-item-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.78;
   text-align: center;
   color: #22343d;
}

.offers-list-item-three {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.75;
   color: #000;
}

/* hero Pricing */

.hero-pricing {
   padding-top: 50px;
   padding-bottom: 150px;
}

.hero-pricing-title-one {
   font-weight: 600;
   font-size: 24px;
   color: #22343d;
   text-align: center;
   margin-bottom: 32px;
}

.hero-pricing-title-two {
   font-weight: 700;
   font-size: 40px;
   text-align: center;
   color: #22343d;
   margin-bottom: 16px;
}

.hero-pricing-text {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   color: #22343d;
   margin-bottom: 49px;
}

/* Enterprice pricing */

.enterprice {
   padding-top: 53px;
   padding-bottom: 51px;
   background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterprice-title-one {
   font-weight: 600;
   font-size: 24px;
   color: #22343d;
   text-align: center;
   margin-bottom: 16px;
}

.enterprice-title-two {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   text-align: center;
   margin-bottom: 8px;
}

.enterprice-text {
   font-weight: 400;
   font-size: 18px;
   color: #22343d;
   text-align: center;
   margin-bottom: 32px;
}

.enterprice-btn {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
   background-color: #02897a;
   padding: 11px 18px;
   display: block;
   margin: 0 auto;
}

/* Effects pricing */

.effects {
   padding-top: 294px;
   padding-bottom: 6px;
}

.effects-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   text-align: center;
   margin-bottom: 56px;
}

.effects-cont {
   display: flex;
}

.effects-list {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.effects-list-item {}

.effects-item-title {
   font-weight: 600;
   font-size: 24px;
   text-align: center;
   color: #22343d;
   margin-bottom: 16px;
}

.effects-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

/* Question pricing */

.question {
   padding-left: 95px;
   padding-right: 94px;
}

.question-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   text-align: center;
   margin-bottom: 8px;
}

.question-text {
   font-weight: 400;
   font-size: 18px;
   color: #22343d;
   text-align: center;
   margin-bottom: 50px;
}

.question-list {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.question-list-item {
   padding-left: 95px;
   padding-right: 95px;
}

.question-item-title {
   font-weight: 500;
   font-size: 18px;
   color: #22343d;
}

.question-item-text {
   font-weight: 400;
   font-size: 16px;
   color: #22343d;
   text-align: start;
}