body {
    font-family: "Poppins", sans-serif;
    margin: 0;
} 

 h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

 a {
    text-decoration: none;
}


button{
    cursor: pointer;
    display: block;
    font-family: inherit;
} 

img{
   display: block;
}

*,*::before,*::after{
   box-sizing: border-box;
}

.container{
   padding: 0 20px;
   width: 1150px;
   margin: 0 auto;

}

/* header */

.header .container {
   display: flex;
}

.navigation {display: flex;}

.header-logo {
   display: flex;
   gap: 16px;
   padding-top: 22px;
   padding-bottom: 22px;
   margin-right: 237px;
   font-weight: 700;
   font-size: 30px;
   line-height: 0.93;
    color: #173a56;
}

.header-nav-list {
   display: flex;
   gap: 30px;
}

.header-nav-list-item-home {
   
}

.header-nav-link-home {
   display: block;
   padding-top: 26px;
   padding-bottom: 26px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

.header-nav-list-item {}

.header-nav-link {
   display: block;
   padding-top: 26px;
   padding-bottom: 26px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

.list-btn {
   display: flex;
   gap: 21px;
   margin-left: auto;
}

.list-item-btn {
   display: block;
   padding-top: 19px;
   padding-bottom: 19px;}

.header-list-button{
   display: block;
   padding: 9px 24px;
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
   color: #173a56;
   background-color: #fff;
}

.second{
   color: #fff;
   background-color: #02897a;
}

/* hero index */

.hero {
   padding-top: 25px;
   padding-bottom: 100px;
}

.hero-div{
   display: block;
   padding-top: 112px;
   padding-bottom: 112px;
}

.hero-container{
   display: flex;
   gap: 35px;
}
   
.hero-title {
   font-weight: 700;
   font-size: 40px;
   line-height: 1.5;
   color: #22343d;
   margin-bottom: 18px;
}
   
.hero-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.55;
   color: #22343d;
   margin-bottom: 45px;
}
   
.hero-list {
   display: flex;
   gap: 30px;
}
   
.hero-list-btn {
   display: flex;
}

.hero-btn {
   border: none;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
   background-color: #02897a;
   padding: 15px 42px 15px 41px;
}

.hero-btn-watch {
   border: none;
   font-weight: 600;
   font-size: 16px;
   text-decoration: underline;
   color: #02897a;
   background-color: #fff;
}

/* feature index */

.feature {
   padding-bottom: 100px;
}
      
.feature-title {
   width: 539px;
   font-weight: 700;
   font-size: 32px;
   text-align: center;
   color: #22343d;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
}
      
.feature-list {
   display: flex;
   gap: 30px;
   margin-bottom: 50px;
}
      
.feature-list-item {width: calc((100% - 90px) / 4);}
      
.item-title {
   font-weight: 600;
   font-size: 22px;
   color: #22343d;
   margin-bottom: 13px;
}
      
.feature-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}
      
.feature-btn {
   border: none;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
   background-color: #02897a;
   padding: 15px 32px 14px 34px;
   display: block;
   margin: 0 auto;
}

/* Business management index */

.management {
   padding-bottom: 100px;
}

.management-container{display: flex;
gap: 84px;}

.management-cont{display: block;
padding-top: 41px;
padding-bottom: 41px;}

.management-title {
   font-weight: 600;
   font-size: 16px;
   color: #22343d;
   width: 224px;
   margin-bottom: 25px;
}

.busines-title{
   font-weight: 700;
   font-size: 32px;
   color: #22343d;
}

.management-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 30px;
}

.management-list {
   
}

.management-list-item {
   margin-bottom: 25px;
}

.management-item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}

.management-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}

/* Support index */

.support {
   padding-bottom: 100px;
}

.support-container {
   display: flex;
   gap: 84px;
}

.image-support {}

.support-cont {
   display: block;
   padding-top: 41px;
   padding-bottom: 40px;
}

.support-title {
   font-weight: 600;
   font-size: 16px;
   color: #22343d;
   width: 303px;
   margin-bottom: 25px;
}

.support-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 30px;
}

.support-list {
}

.support-list-item {
   margin-bottom: 25px;
}

.support-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
}

/* Collaboration index */

.collaboration {
   padding-bottom: 150px;
}

.collaboration-container {
   display: flex;
   gap: 84px;
}

.collaboration-cont {
   display: block;
   padding-top: 41px;
   padding-bottom: 41px;
}

.collaboration-title {
   font-weight: 600;
   font-size: 16px;
   color: #22343d;
   width: 226px;
   margin-bottom: 25px;
}

.collaboration-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 30px;
}

.collaboration-list {}

.collaboration-list-item {
   margin-bottom: 25px;
}

.collaboration-item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.625;
   color: #22343d;
}

.collaboration-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.625;
   color: #22343d;
}

.image-collaboration {}

/* Staff index */

.staff {
   padding-bottom: 100px;
}

.staff-title {
   font-weight: 700;
   font-size: 32px;
   text-align: center;
   color: #22343d;
}

.staff-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   color: #22343d;
   width: 542px;
   margin: 0 auto;
}

.staff-list {
   display: flex;
   margin-bottom: 50px;
   flex-direction: row;
   flex-wrap: wrap;
}

.staff-list-item {
   width: calc((100% - 100px) / 2);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   
}

.staff-list-item:nth-child(2), .staff-list-item:nth-child(3) {
   flex-direction: row-reverse;
}

.staff-item-text {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   color: #2f281e;
   padding-top: 14px;
   padding-bottom: 12px;
}

.staff-btn {
   border: none;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
   background-color: #02897a;
   display: block;
   margin: 0 auto;
   padding: 15px 31px 14px 30px;
}

/* News feed index */

.new-feed {
   padding-bottom: 171px;
}

.new-feed-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   margin-bottom: 10px;
}

.new-feed-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   color: #22343d;
   margin-bottom: 40px;
}

.new-feed-item {
   display: flex;
   gap: 30px;
}

.new-feed-list-item {
   border: 1px solid #dedede;
   border-radius: 8px;
   
}

.new-feed-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
   padding-top: 24px;
   padding-left: 24px;
   margin-bottom: 12px;
}

.ari {
   font-weight: 700;
   padding-left: 0;
}

.new-feed-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.66667;
   color: #22343d;
   padding-left: 27px;
   padding-right: 27px;
   padding-bottom: 40px;
}

.green{
   color: #02897a;
}

/* Pricing index */

.pricing {
   padding-bottom: 100px;
}

.pricing-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   text-align: center;
   margin-bottom: 10px;
   
}

.pricing-text {
   font-weight: 500;
   font-size: 16px;
   color: #22343d;
   text-align: center;
   margin-bottom: 40px;
}

.pricing-container {
   display: flex;
   gap: 72px;
}

.pricing-list {
}

.pricing-white{
   border-radius: 8px;
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
   background-color: #fff;
}

.price {
   width: calc((100% - 144px) / 3);
}

.pricing-list-item {}

.pricing-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.66;
   color: #22343d;
   padding: 32px 134px 0 135px;
   margin-bottom: 8px;
}

.pricing-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 2.5;
   color: #22343d;
   text-align: center;
   margin-bottom: 16px;
}

.number {
   display: flex;
   justify-content: center;
   align-items: center;
}

.pricing-item-number {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 76px;
   line-height: 1.31;
   letter-spacing: 0em;
   /* text-align: center; */
   color: #02897a;
}

.pricing-item-dollar-green {
   font-family: "Inter", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.25;
   letter-spacing: 0em;
   color: #02897a;
}

.pricing-price-text {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.01em;
   color: #afafaf;
}

.pricing-price-item {}

.pricing-price-list {}

.pricing-price-title {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.01em;
   color: #22343d;
   text-align: center;
   margin-bottom: 16px;
}

.pricing-btn-price {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
   background-color: #02897a;
   padding: 11px 19px 11px 18px;
   display: block;
   margin: 0 auto;
   margin-bottom: 32px;
}

.pricing-green{
   border-radius: 8px;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
   background-color: #02897a;
   /* width: 322px; */
}

.pricing-list-standard {}

.pricing-list-item-standard {}

.standard-item-title {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.66;
   color: #fff;
   padding: 32px 101px 0 105px;
   margin-bottom: 8px;
}

.standard-text {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 2.5;
   color: #fff;
   text-align: center;
   margin-bottom: 16px;
}

.pricing-item-five {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 76px;
   line-height: 1.31;
   letter-spacing: 0em;
   /* text-align: center; */
   color: #fff;
}

.pricing-item-dollar-white {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.25;
   letter-spacing: 0em;
   color: #fff;
}

.standard-item-text {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.01em;
   color: #e0e0e0;
}

.pricing-standard-item {}

.pricing-standard-list {}

.pricing-standard-title {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.37;
   letter-spacing: 0.01em;
   color: #fff;
   text-align: center;
   margin-bottom: 16px;
}

.pricing-standard-btn {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #02897a;
   background-color: #fff;
   padding: 11px 19px 11px 18px;
   display: block;
   margin: 0 auto;
   margin-bottom: 32px;
}

/* Feedback index */

.feedback {}

.feedback-title {
   font-weight: 700;
   font-size: 32px;
   line-height: 1.78;
   letter-spacing: 0.01em;
   color: #22343d;
}

.feedback-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.75;
   letter-spacing: 0.01em;
   text-align: center;
   color: #22343d;
}

.feedback-list {}

.feedback-list-item {}

.feedback-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   letter-spacing: 0.01em;
   color: #737373;
}

.feedback-item-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.01em;
   color: #02897a;
}

.feedback-list-item-text {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.71429;
   letter-spacing: 0.01em;
   color: #252b42;
}

/* Promo index */

.promo {}

.promo-green{
   border: none;
   border-radius: 32px;
   background: #02897a;
}

.promo-title {
   font-weight: 600;
   font-size: 32px;
   line-height: 1.514;
   color: #fff;
}

.promo-btn {
   border: none;
   border-radius: 8px;
   font-weight: 600;
   font-size: 20px;
   color: #02897a;
   background-color: #fff;
}

/* footer */

.footer {}

.footer-logo {
   font-weight: 700;
   font-size: 30px;
   line-height: 0.93;
   color: #173a56;
}

.footer-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   color: #22343d;
}

.footer-list {}

.footer-list-item {}

.footer-item-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 2.1875;
   color: #22343d;
}

.footer-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.875;
   color: #22343d;
}

/* Hero Customers */

.hero-clients {}

.hero-clients-title {
   font-weight: 700;
   font-size: 40px;
   color: #22343d;
}

.hero-clients-list {}

.hero-clients-list-item {}

/* Choose Customers */

.choose {}

.choose-bg{
   background-color: #f5f5f5;
}

.choose-title {
   font-weight: 700;
   font-size: 34px;
   text-align: center;
   color: #22343d;
}

.choose-list {}

.choose-list-item {}

.choose-border{
   border: 1px solid #dedede;
   border-radius: 10px;
}

.choose-item-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.37;
   letter-spacing: 0em;
   text-align: center;
   color: #22343d;
}

.choose-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6875;
   letter-spacing: 0.01em;
   text-align: center;
   color: #22343d;
}

/* How Product Work? Customers */

.work {}

.work-title {
   font-weight: 700;
   font-size: 34px;
   text-align: center;
   color: #22343d;
}

.work-list {}

.work-list-item {}

.work-item-title-one {
   font-weight: 500;
   font-size: 20px;
   text-align: center;
   color: #22343d;
}

.work-item-title-two {
   font-weight: 600;
   font-size: 24px;
   text-align: center;
   color: #22343d;
}

.work-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

.work-btn {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
   background-color: #02897a;
}

/* Offers Customers */

.offers {}

.offers-title {
   font-weight: 700;
   font-size: 32px;
   text-align: center;
   color: #22343d;
}

.offers-list-one {}

.offers-list-item-one {}

.offer-item-title {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.16667;
   color: #000;
}

.offers-list-two {}

.offers-list-item-two {}

.offer-item-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.77778;
   /* text-align: center; */
   color: #22343d;
}

.offers-list-item-three {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.75;
   color: #000;
}

/* hero Pricing */

.hero-pricing-title-one {
   font-weight: 600;
   font-size: 24px;
   color: #22343d;
}

.hero-pricing-title-two {
   font-weight: 700;
   font-size: 40px;
   text-align: center;
   color: #22343d;
}

.hero-pricing-text {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   color: #22343d;
}

/* Enterprice pricing */

.enterprice {}

.enterprice-title-one {
   font-weight: 600;
   font-size: 24px;
   color: #22343d;
}

.enterprice-title-two {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
}

.enterprice-text {
   font-weight: 400;
   font-size: 18px;
   color: #22343d;
}

.enterprice-btn {
   border: none;
   border-radius: 8px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18px;
   color: #fff;
   background-color: #02897a;
}

/* Effects pricing */

.effects {}

.effects-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
}

.effects-list {}

.effects-list-item {}

.effects-item-title {
   font-weight: 600;
   font-size: 24px;
   text-align: center;
   color: #22343d;
}

.effects-item-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   color: #22343d;
}

/* Question pricing */

.question {}

.question-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
}

.question-text {
   font-weight: 400;
   font-size: 18px;
   color: #22343d;
}

.question-list {}

.question-list-item {}

.question-item-title {
   font-weight: 500;
   font-size: 18px;
   color: #22343d;
}

.question-item-text {
   font-weight: 400;
   font-size: 16px;
   color: #22343d;
}